@using Microsoft.AspNetCore.Identity
@inject SignInManager<Gebruiker> SignInManager
@inject UserManager<Gebruiker> UserManager

@model FCVoetbal.ViewModels.ListViewModel<Match>

@{
    ViewData["Title"] = "Matchen";
}

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table>
    <thead>
        <tr>
            <th class="col-md-4">
                @Html.DisplayNameFor(m => m.Items[0].Datum)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(m => m.Items[0].Plaats)
            </th>
            <th class="col-md-4">
                Teams
            </th>
            <th class="col-md-4">
                Score
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td class="col-md-4">
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td class="col-md-4">
                @item.Plaats
            </td>
            <td class="col-md-4">
                @item.ThuisTeam.Naam - @item.UitTeam.Naam
            </td>
            @if (item.ThuisDoelpunten != null && item.UitDoelpunten != null)
            {
                <td class="col-md-4">
                    @item.ThuisDoelpunten - @item.UitDoelpunten
                </td>
            }
            else
            {
                <td class="col-md-4">
                </td>
            }


            @if (this.User.Identity.IsAuthenticated)
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
                @if (this.User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                }

            }
        </tr>

        }
    </tbody>
</table>
